[Desktop Entry]
Type=Application
Version=1.0
Name=Nexus Mods App
GenericName=Mod Manager
Comment=Mod Manager for your games
Categories=Game
Terminal=false
StartupWMClass=NexusMods.App
Icon=com.nexusmods.app
Exec=/opt/nexusmods-app-bin/NexusMods.App %u
TryExec=/opt/nexusmods-app-bin/NexusMods.App
X-AppImage-Integrate=true
X-AppImage-Name=NexusMods.App
X-AppImage-Arch=x86_64
MimeType=x-scheme-handler/nxm;x-scheme-handler/nxm
